mybuild
.sconsign.dblite

*.o
*.a
*.la
*.lo
*~
*.log
.dirstamp
*.out
.cproject
.project
.settings

src/obj/*
test/obj/*
tool/obj/*

vendor/gtest-1.7.0/CMakeFiles
vendor/gtest-1.7.0/cmake_install.cmake
vendor/gtest-1.7.0/Makefile
vendor/gtest-1.7.0/CMakeCache.txt
vendor/gtest-1.7.0/libtool
vendor/gtest-1.7.0/config.status
vendor/gtest-1.7.0/samples/.deps
vendor/gtest-1.7.0/src/.deps
vendor/gtest-1.7.0/test/.deps
vendor/gtest-1.7.0/

